<div class="m-16">
  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>
  <ul class="flex gap-3 mt-5">
    <li class="p-2 border-2 rounded-md hover:bg-red-600 hover:text-white flex items-center justify-center border-red-600 text-red-600"><%= link_to "Edit", edit_article_path(@article) %></li>
    <li class="flex justify-center items-center p-2 rounded-md bg-red-600 hover:bg-red-500 text-white"><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
    <li class="p-2 border-2 rounded-md hover:bg-red-600 hover:text-white flex items-center justify-center border-red-600 text-red-600"><a href="/articles">Articles</a></li>
  </ul>
  <h2 class="text-2xl underline mt-7">Comments</h2>
  <% @article.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  <% end %>
  <h2 class="text-xl underline mt-5 mb-5">Add a comment:</h2>
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter, class: "outline-none  focus:outline-none w-96 !rounder-md focus:ring focus:ring-red-500 focus:ring-offset-1" %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body, class: "outline-none  focus:outline-none w-96 !rounder-md focus:ring focus:ring-red-500 focus:ring-offset-1" %>
    </p>
    <p class="mt-5 flex cursor-pointer justify-center items-center p-2 w-96 rounded-md bg-red-600 hover:bg-red-500 text-white">
      <%= form.submit %>
    </p>
  <% end %>
</div>
